html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Helps with layout height */
}

header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/teyana_taylor_durag_cape.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffff;
  padding: 280px 0;
  margin: 0;
}

main {
  background-color: #ffff;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

main p {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

.heading {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 0.95;
  letter-spacing: -0.04em; /* Pulls the condensed letters tighter */
}

.subheading {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  /* font-size: 1rem; */
  color: #ffff;
  text-decoration: none;
  letter-spacing: -0.01em; /* Subtle modern UI spacing adjustment */
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 20px;
}

.grid-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.grid-three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 9px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
footer {
  text-align: center;
  color: #ffff;
  background-image:
    linear-gradient(rgba(39, 32, 68, 0.9), rgba(0, 0, 0, 0.8)),
    url("../images/teyana_taylor_durag_cape.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  margin: 0 10px 0;
  overflow: hidden;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.9;
}

footer ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: auto;
    grid-gap: 32px;
  }

  .img-responsive {
    max-width: 100%;
  }

  section {
    padding: 30px;
  }
}
